#hey{
    width: 400px;
    height: 400px;
}

#container{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-hey{
    font-size: 40px;
    display: block;
}

#text-hou{
    font-size: 40px;
    display: none;
}
