body{
    background-color: black;
}

#hey{
    display: block;
}

#hou{
    display: none;
}

#container{
    width: 99vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-hey{
    font-size: 60px;
    user-select: none;
    color: white;
}

#text-hou{
    font-size: 60px;
    user-select: none;
    color: black;
}
